body {
  background-color: #dfe1e2;
  color: #4d4f52;
}

h1, h2, h3 {
  text-align: center;
  margin-bottom: 15px
}
a {
  color: #3aa6d2;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

a:hover {
  color: #64ea90;
}

li {
  list-style: none;
}

ul {
  margin-right: 40px;
}

hr {
  border-color: black;
}
p {
  margin-left: 15px;
  margin-top: 15px;
}

.navbar,
.navbar-inverse,
.navbar-brand,
.navbar-nav>li>a {
  background: #99d3ea;
  color: #283038 !important;
  border: none;
}

.navbar-nav>li>a:hover {
  color: white;
}

.mynav {
  max-height: 40px;
}

.articleimg {
  margin-right: 20px;
  float: left;
}

.article-title {
  text-decoration: underline;
  margin-bottom: 10px
}

.view-comments {
  float: right;
  background-color: #283038;
  color: lightgray;
  font-size: 30px;
}
.view-comments:hover,
.view-comments:focus {
  color: white;
}

.submitbtn {
  float: right;
  background: #99d3ea;
  color: #283038;
}

.news-body {
  clear: both;
  margin: auto;
  width: 80%;
  padding-bottom: 20px;

}

.article-box {
  background: #283038;
  color: lightgray;
  padding: 10px;
  border: 1px solid gray;
  margin-top: 10px;
  border-radius: 10px;
}

.comment-section {
  clear: both;
  margin-top: 5px;
  border: 5px solid gray;
  border-radius: 10px;
  width: 95%;
  margin: auto;
  background: hsla(239, 33%, 75%, 0.97);
}

.comment-box {
  width: 100%;
  height: 80px;
  border-radius: 5px;

}

.name-box {
  border-radius: 5px;
  margin-bottom: 5px;
}
.name-box:focus,
.comment-box:focus {
  border-color: #8a9bf3;
	box-shadow: 0px 1px 1px rgba(90,102,236, 0.075) inset, 0px 0px 8px rgba(90,102,236, 0.5);
	outline: 0;
}

.remove-button {
  background: hsla(239, 33%, 75%, 0.97) !important;
}
